@import "tailwindcss";

@theme {
  --color-primary : #F1A350;
  --color-secondary : #688FB4;

  --color-lightBack : #E9EFF5;
  --color-darkBack: #1E1E1E;
  --color-lightShave : #FFFFFF;
  --color-darkShave: #333333;

  --color-lightText-100: #33333F;
  --color-lightText-75: #4F4F58;
  --color-lightText-50: #898990;
  --color-lightLine: #E1E6ED;

  --color-darkText-100: #FFFFFF;
  --color-darkText-75: #C7C7C7;
  --color-darkText-50: #8E8E8E;
  --color-darkLine: #565656;


  --color-border:#E1E6ED;
}

.btn-primary{
  background-color:#F1A350 ;
  border: 1 solid #F1A350;
  border-radius:4px;
  color: white;
  padding: 10px 30px;
}





/*loader css*/
.loader {
  width: 22px;
  padding: 5px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #ffffff;
  --_m:
          conic-gradient(#0000 10%,#000),
          linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 1s infinite linear;
}
@keyframes l3 {to{transform: rotate(1turn)}}